---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import { getUniqueTags } from '../../utils/getUniqueTags';

export async function getStaticPaths() {
  const allProjects = await getCollection('projects');
  const uniqueTags = await getUniqueTags(allProjects);

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: { projects: allProjects.filter((project) => project.data.tags.includes(tag)) }
  }));
}

const { tag } = Astro.params;
const { projects } = Astro.props;
---

<Layout pageTitle={tag}>
  <h1 class="text-white">Projectos en los que se ha utilizado "{tag}"</h1>
<div>
  <ul class="text-white p-3 center items-center text-center m-auto flex gap-4 justify-center border-b">
    {projects.map((project) => (
    <li>
        <a class=" p-2 hover:text-orange-200 hover:shadow-lg hover:shadow-orange-500/10 rounded-2xl" href={`/projects/${project.slug}`}>
        
        
        <div class="bg-black rounded-lg border border-orange-500 p-4 shadow-sm shadow-orange-500/20 hover:scale-105 transition:400 ">
    <!-- Imagen -->
    <img
      src={project.data.img.url}
      alt={project.data.img.alt}
      class="w-full h-auto rounded-lg mb-4 bg-orange-500"
    />
  
    <!-- Título -->
    <h2 class="text-white text-xl font-bold">{project.data.title}</h2>
  </div>
        
        </a>
    </li>
    ))}
  </ul>
</div>

</Layout>