---
import { Image } from 'astro:assets';
import icon1 from '../../public/icon1.svg';
import icon2 from '../../public/icon2.svg';
import icon3 from '../../public/icon3.svg';
import icon4 from '../../public/icon4.svg';
import icon5 from '../../public/icon5.svg';
import icon6 from '../../public/icon6.svg';
import icon7 from '../../public/icon7.svg';
import icon8 from '../../public/icon8.svg';
import icon9 from '../../public/icon9.svg';
import icon10 from '../../public/icon10.svg';
---
<div class="h-2/2 block"> </div>
<div class="slider filter backdrop-blur-xl rounded-2xl">
    <div class="slide-track py-4 ">
        <div class="slide">
            <Image src={icon1} alt="icon2">
        </div>
        <div class="slide">
            <Image src={icon2} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon3} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon4} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon5} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon7} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon8} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon9} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon10} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon1} alt="icon2">
        </div>
        <div class="slide">
            <Image src={icon2} alt="icon2">
        </div>
        <div class="slide">
            <Image src={icon3} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon4} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon5} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon6} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon7} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon8} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon9} alt="icon3">
        </div>
        <div class="slide">
            <Image src={icon10} alt="icon3">
        </div>
    </div>
</div>
