---
import BaseLayout from './BaseLayout.astro';
const { frontmatter, content } = Astro.props;
import  ProjectDetail  from '../components/nav/projects/ProjectDetail';
import ProjectSlider from '../components/nav/projects/ProjectSlider';
import ProjectListTitle from '../components/nav/projects/ProjectListTitle.astro';
---

<BaseLayout >

  <ProjectSlider client:visible />
  <ProjectListTitle />
    <section class="flex flex-col-3 md:flex-col-3 shadow-lg rounded-lg overflow-hidden mt-16">
        <ProjectDetail
        img={frontmatter.img}
        title={frontmatter.title}
        description={frontmatter.description}
        videoUrl={frontmatter.video?.url}
        repoUrl={frontmatter.repo?.url}
        deployUrl={frontmatter.deploy?.url}
        tags={frontmatter.tags}
        client:visible
      />

    </section>


</BaseLayout>