---
import ProjectList from '../components/nav/projects/ProjectList.astro';
import BaseLayout from './BaseLayout.astro';
import {fade} from "astro:transitions";
const { frontmatter, content } = Astro.props;
import  ProjectDetail  from '../components/ProjectDetail';
---

<BaseLayout >

  <ProjectList />
    <section class="flex flex-col-3 md:flex-col-3 shadow-lg rounded-lg overflow-hidden mt-12 ml-4">
     
        <ProjectDetail
        img={frontmatter.img}
        title={frontmatter.title}
        description={content}
        videoUrl={frontmatter.video?.url}
        repoUrl={frontmatter.repo.url}
        deployUrl={frontmatter.deploy?.url}
        tags={frontmatter.tags}
      />

    </section>
    
    
    <slot /> 

</BaseLayout>